{% extends "base.html" %}
{% block title %} {{article.title}} {% endblock %}
{% block content %}
<section class="header dm-10">
  <header class="dm-8">
    Posted on <time pubdate datetime="{{ article.date|strftime('%Y-%m-%d') }}">{{article.date | strftime('%B %d %Y') }}</time> by <author>{{article.author }}</author>
    <h1> {{article.title }} </h1>
  </header>
</section>
<section class="article dm-12">
  <article class="dm-10 offset-1">
    <div class="dm-10">
      {{ article.content }}
    </div>
  </article>
</section>
{% endblock %}
