{% extends "base.html" %}
{% block title %} {{article.title}} {% endblock %}
{% block content %}
<section class="header dm-10 offset-1">
  <article>
    <header>
        <h1>{{article.title}}</h1>
        <small>
        Posted on <time pubdate datetime="{{ article.date|strftime('%Y-%m-%d') }}">{{article.date | strftime('%B %d %Y') }}</time>
        by <author>{{article.author }}</author>
        </small>
    </header>
    <content>{{article.content}}</content>
  </article>

  <a class="btn" href="index.html">Continue reading</a>
</section>
{% endblock %}
