<html>
  <head>
    <meta charset="utf-8">
    <meta name="keywords" content="{{AUTHOR}}{% for keyword in KEYWORDS %}, {{keyword}}{%endfor%}">
    <meta name="description" content="Personal Blog">
    <meta name="author" content="{{AUTHOR}}">
    <!-- begin stylesheets -->
    {% for css in CSS_FILES %}
    <link rel="stylesheet" href="{{SITEURL}}/theme/css/{{css}}" />
    {% endfor %}
    <!-- end stylesheets -->
    <!-- begin scripts -->
    {% for js in JS_FILES %}
    <script type="text/javascript" src="{{SITEURL}}/theme/js/{{js}}">
    </script>
    {% endfor %}
    <!-- end scripts -->
    <title>{% block title %}{% endblock %}</title>
    <!-- end custom head -->
  </head>
  <body class="home">
    {% block header %}
      <div id="banner" class="menu">
        <ul>
          <li id="logo" class="menu-item">
            <a href="{{SITEURL}}/">{{SITENAME}}</a>
          </li>
          {% block header_extra_links %}
          {% endblock %}
        </ul>
      </div>
    {% endblock %}
    {% block content %}
    {% endblock %}
    {% block footer %}
      <footer id="contentinfo" class="dm-4">
        <address id="about">
          powered by <a href="https://getpelican.com">pelican</a>
        </address>
      </footer>
    {% endblock %}
  </body>
</html>
