{% extends "base.html" %}
{% block header_extra_links %}
    {% if articles_previous_page %}
    <li class="menu-item">
      <a href="{{articles_previous_page.url}}">newer</a>
    </li>
    {% endif %}
    {% if articles_next_page %}
    <li class="menu-item">
      <a href="{{articles_next_page.url}}">older</a>
    </li>
    {% endif %}
  </ul>
</div>
{% endblock %}
{% block content %}
<section id="articles" class="dm-10">
  {% for article in articles_page.object_list %}
  <article class="offset-2">
    <ul class="menu round">
      <li class="menu-title">
        <a href="{{article.url}}">{{article.title}}</a>
      </li>
      <li class="menu-item">
        <label>Posted {{article.date | strftime('%B %d %Y') }}</label>
      </li>
    </ul>
    <summary>
      {{article.summary}}
    </summary>
  </article>
  {% endfor %}
</section>
{% endblock %}
