<footer>
   <div class="container{% if BOOTSTRAP_FLUID %}-fluid{% endif %}">
      <hr>
      <div class="row">
         {% if articles %}
           {% if articles[0].modified %}
             {% set copy_date = articles[0].modified.strftime('%Y') %}
           {% else %}
             {% set copy_date = articles[0].date.strftime('%Y') %}
           {% endif %}
         {% else %}
            {% set copy_date = '' %}
         {% endif %}
         <div class="col-xs-10">&copy; {{ copy_date }} {{ AUTHOR }}

            &nbsp;&middot;&nbsp;
            {% for name, link in SOCIAL %}
              <a href="{{ link }}" target="_blank">{{ name }}</a>&nbsp;
            {% endfor %}
            &nbsp;&middot;&nbsp;
            {% for name, link in LINKS %}
              <a href="{{ link }}" target="_blank">{{ name }}</a>&nbsp;
            {% endfor %}
            &nbsp;&middot;&nbsp;
            <a href="{{ SITEURL }}/{{ ARCHIVES_URL | default('archives.html') }}">Archives</a>

            <span class="pull-right small">
                 Powered by <a href="https://github.com/getpelican/pelican-themes/tree/master/pelican-bootstrap3" target="_blank" class="text-default">pelican-bootstrap3</a>,
                <a href="http://docs.getpelican.com/" target="_blank" class="text-default">Pelican</a>,
                <a href="http://getbootstrap.com" target="_blank" class="text-default">Bootstrap</a>
            </span>
         </div>
         <div class="col-xs-2"><p class="pull-right"><i class="fa fa-arrow-up"></i> <a href="#">Back to top</a></p></div>
      </div>
   </div>
</footer>
