/*
  local site style overrides
*/

#banner {
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 100;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
}


#logo {
    background-image: url("../../theme/images/logo.png");
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 50px;
}

#articles, .header {   
    margin-top: 5em;
}

.home, .menu  {
    background-image: url('../../theme/images/grain.png');
}

article {
    margin-bottom: 3em;
    padding: 1em;
}

article header {
    margin-bottom: 2em;
}

article header a {
    text-decoration: none;
    color: inherit;
}

article header a:hover {
    text-decoration: underline;
}

.codehilite {
    background-image: url('../../theme/images/code_grain.png');
    margin: 1em;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0px 0px 5px black;
    width: 100%;
    overflow: scroll;
}

pre {
    white-space: pre;
}

ul {
    color: #333;
}
